{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MySAVA</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" rel="stylesheet">
    <link href="{%  static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="shortcut icon" href="{%  static 'img/logo.svg' %}" type="image/x-icon">
</head>
<body>
    <div class="container-fluid d-flex p-0 h-100">
        <!-- Sidebar -->

        <div class="sidebar d-flex flex-column">
            <div class="top d-flex justify-content-between align-items-center">
                <div class="slogo" id="sidebarToggle"><img src="{% static 'img/logo.svg' %}" alt="MySAVA"></div>
                <a href="#" text-light><i class="text-light bi bi-question-circle"></i></a>
                <div class="modes d-flex">
                    <a href="#" id="sunIcon"  class="text-light me-2 d-none"><i class="bi bi-moon-fill"></i></a>
                    <a href="#" id="moonIcon" class="text-light me-2"><i class="bi bi-sun-fill"></i></a>
                </div>
            </div>
            <div class="mid flex-grow-1 mt-4">
                <!-- after login this would be active to show chat history -->
                <!-- <div class="hist">
                    <span class="active">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita, ex?</span><br>
                    <span>Provident explicabo soluta corrupti sapiente natus.</span><br>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, totam.</span><br>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, minus!</span><br>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, minus!</span><br>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, minus!</span><br>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, minus!</span><br>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, minus!</span><br>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, minus!</span><br>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, minus!</span><br>
                </div> -->
            </div>
            <div class="down four d-grid gap-2">
                <p><b>Signup or Login</b><br>to see chat history.</p>
                <a class="bn btn btn-primary" href="{% url 'signup' %}">Signup</a>
                <a class="bn-ol btn btn-outline-primary" href="{% url 'signin' %}">Login</a>
            </div>
            <!-- after login this would be active to see account and logout -->     
            <!-- <div class="down four d-grid gap-2">
                <p><b>Test name</b><br>test@gmail.com</p>
                <a class="btn btn-outline-primary" href="logout.html">Logout</a>
            </div> -->
        </div>
        <!-- Main -->
        <div class="main flex-grow-1 d-flex flex-column">
            <div class="top d-flex justify-content-between align-items-center p-3">
                <div class="hamburger d-md-none"><i class="bi bi-list"></i></div>
                <div class="name flex-grow-1 text-center">MySAVA</div>
                <div class="top-btn"><a href="{% url 'signin' %}" class="btn btn-primary">Login</a></div>
                <!-- after login this would be active to create new conversation -->
                <!-- <div class="top-btn"><a href="#" class="new-chat"><i class="bi bi-pencil-square"></i></a></div> -->
            </div>
            <div class="container-sm flex-grow-1 d-flex flex-column">
                
                <div class="mid flex-grow-1 d-flex flex-column align-items-center justify-content-center text-center">
                    <br><br><br><br>
                    <div class="logo mb-3"><img src="{% static 'img/logo.svg' %}" alt="MySAVA" width="80"></div>
                    <div class="greeting mb-3">Hi,</div>
                    <div class="prompts d-flex flex-wrap justify-content-center">
                        <div class="pmt1 mb-2 mx-2">How to apply for an official transcript</div>
                        <div class="pmt2 mb-2 mx-2">Timeline and Procedures for challenging your score</div>
                    </div>
                </div>
                <!-- should also be visible after login -->
                <!-- <div class="chat-section flex-grow-1 d-flex flex-column-reverse">
                    <div class="message">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</div> 
                    <div class="sender">Lorem ipsum, dolor sit.</div>
                    <div class="message">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</div> 
                    <div class="sender">Lorem ipsum, dolor sit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, facere?</div>
                    <div class="message">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</div> 
                    <div class="sender">Lorem ipsum, dolor sit.</div>
                    <div class="message">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</div> 
                    <div class="sender">Lorem ipsum, dolor sit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, facere?</div>
                    <div class="message">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</div> 
                    <div class="sender">Lorem ipsum, dolor sit.</div>
                    <div class="message">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</div> 
                    <div class="sender">Lorem ipsum, dolor sit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, facere?</div>
                </div> -->
                <div class="down four">
                    <center>
                    <div class="input-bar">
                        <textarea class="form-control me-2 input" placeholder="Type your message here..."></textarea>
                        <a href="#" class="btn btn-primary send-button"><i class="bi bi-send-fill"></i></a>
                    </div>
                    </center>
                    <div class="note mt-2 text-center">By messaging MySAVA, you agree to our <a href="#">Terms</a> and have read our <a href="#">Privacy Policy</a>.</div>
                </div>
            </div>
        </div>
    </div>

<script src="{% static 'javascript.js' %}"></script>
</body>
</html>